<!-- Navbar -->
  <div class="w3-top">
    <div class="w3-bar w3-theme-d2 w3-left-align w3-large">
      <a class="w3-bar-item w3-button w3-hide-medium w3-hide-large w3-right w3-padding-large w3-hover-white w3-large w3-theme-d2" (click)="toggleNav()"><i class="fa fa-bars"></i></a>
      <a class="w3-bar-item w3-button w3-padding-large w3-theme-d4" routerLink="/home"><i class="fa fa-home w3-margin-right"></i>SocialMedia</a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" routerLink="/notifications" title="Notifications"><i class="fa fa-globe"></i></a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" routerLink="/friends" title="Friends"><i class="fa fa-user"></i></a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" routerLink="/messages" title="Messages"><i class="fa fa-envelope"></i></a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" routerLink="/friend-requests" title="Friend Requests"><i class="fa fa-bell"></i></a>
      <a class="w3-bar-item w3-button w3-hide-small w3-padding-large w3-hover-white" routerLink="/discover" title="Discover People"><i class="fa fa-search"></i></a>
      <a  class="w3-bar-item w3-button w3-hide-small w3-right w3-padding-large w3-hover-white"
          [routerLink]="['/', username]"
          title = "My Profile">
        Profile
      </a>
    </div>
  </div>

  <!-- Navbar on small screens -->
  <div id="navDemo" class="w3-bar-block w3-theme-d2 w3-hide w3-hide-large w3-hide-medium w3-large" [ngClass]="{'w3-show': showNavSmall}">
    <a class="w3-bar-item w3-button w3-padding-large" routerLink="/notifications">Notifications</a>
    <a class="w3-bar-item w3-button w3-padding-large" routerLink="/friends">Friends</a>
    <a class="w3-bar-item w3-button w3-padding-large" routerLink="/messages">Messages</a>
    <a class="w3-bar-item w3-button w3-padding-large" routerLink="/friend-requests">Friend requests</a>
    <a class="w3-bar-item w3-button w3-padding-large" routerLink="/discover">Discover</a>
    <a class="w3-bar-item w3-button w3-padding-large" [routerLink]="['/', username]">My Profile</a>
  </div>
