<div class="w3-container w3-card w3-white w3-round w3-margin"><br>
  <img [src]="post.image" alt="Avatar" class="w3-left w3-circle w3-margin-right" style="width:60px">
  <span class="w3-right w3-opacity">{{ post.post_date }}</span>
  <h4>{{ post.name }}</h4><br>
  <hr class="w3-clear">
  <p>{{ post.post }}</p>
  <button type="button" class="w3-button w3-theme-d1 w3-margin-bottom" (click)="onLike(post.post_id)">
    <i class="fa fa-thumbs-up"></i> &nbsp;{{ post.liked.indexOf(myId) === -1 ? 'Like' : 'Unlike' }}</button>
  <span>&emsp;{{ post.liked.length + (post.liked.length === 1 ? ' Like' : ' Likes') }}</span>
  <span class="w3-right" *ngIf="post.public == 1"><i class="fa fa-globe"></i></span>
  <!--<button type="button" class="w3-button w3-theme-d2 w3-margin-bottom"><i class="fa fa-comment"></i> &nbsp;Comment</button>-->
</div>
