.container {
  overflow-y: hidden;
}
.listBox {
  background-color: #f7f7f7;
  height: 93vh;
  margin-top: 7vh;
  border-right: 1px solid #bcbcbc;
  overflow-y: auto;
}
.messageBox {
  height: 93vh;
  margin-top: 7vh;
  overflow-y: auto;
}
.friend-item {
  /*width: 34vw;*/
  height: 12vh;
  display: flex;
  /*justify-content: center;*/
  align-items: center;
  border-bottom: 1px solid #d7dde5;
  cursor: pointer;
}
.friend-item img {
  margin: 0 2vw;
  border-radius: 50%;
}
/*.inputField {*/
  /*height: 5vh;*/
/*}*/
.messages {
  height: 80vh;
  /*overflow-y: auto;*/
}
.messageItem {
  padding: 4px 14px;
  margin-bottom: 4px;
  border-radius: 21px;
}
/*.messageScroll {*/
  /*height: 85vh;*/
/*}*/
.messageCase {
  margin: 15px;
}
.formBox {
  width: 63vw;
  position: absolute;
  bottom: 0;
}
input[type=text] {
  margin: 10px;
  border-radius: 4px;
}
.formBox button {
  border-radius: 4px;
  padding-left: 10px;
  margin-left: 20px;
  margin-top: 10px;
}
