<app-navbar></app-navbar>
<div class="container" *ngIf="myId">
<div class="w3-col m4 listBox">
  <h3 *ngIf="users.length === 0" class="w3-center">No friends</h3>
  <div class="friend-item w3-row" *ngFor="let user of users"
       (click)="selectFriend(user.id)"
       [ngStyle]="{'background-color': selectedFriend === user.id ? 'lightblue' : 'white'}">
    <div class="w3-col m3">
      <img [src]="user.image" alt="user-img" width="50" height="50">
    </div>
    <!-------------------------------------------------------------------------------->
    <div class="w3-col m12" *ngIf="lastMessages[user.id]">
      <div class="w3-row">
        <div class="w3-col m10">
      <strong>{{ user.name }}</strong>
        </div>
      <div class="w3-col m2 w3-right" style="padding-right: 1vw">{{ lastMessages[user.id].dts }}</div>
      </div>
      <div class="w3-row">
      <div class="w3-col m10">
        {{ lastMessages[user.id].msg }}
      </div>
      <div class="w3-col m2 w3-right" style="padding-right: 1vw">
        <!--<span style="color: blue">{{ lastMessages[user.id].seen === 't' ? 'Seen' : '' }}</span>-->
      </div>
      </div>
    </div>
    <!-------------------------------------------------------------------------------->
    <div class="w3-col m12" *ngIf="!lastMessages[user.id]">
      <div class="w3-row">
        <div class="w3-col m10">
          <strong>{{ user.name }}</strong>
        </div>
        <div class="w3-col m2 w3-right" style="padding-right: 1vw">&nbsp;</div>
      </div>
      <div class="w3-row">
        <div class="w3-col m10">
          &nbsp;
        </div>
        <div class="w3-col m2 w3-right" style="padding-right: 1vw">
          <span class="">&nbsp;</span>
        </div>
      </div>
    </div>
    <!------------------------------------------------------------------------------->
  </div>
</div>
<div class="w3-col m8 messageBox" #scrollMe>
  <div class="w3-row">
    <div class="w3-col m12">
      <div *ngIf="selectedFriend !== -1">
        <div class="messageScroll">
          <div class="messageCase" *ngFor="let m of messages | message: selectedFriend">
              <span class="messageItem"
                    [ngClass] = "{'w3-right': +m.s_id === myId}"
                    [ngStyle] = "{'background-color': (+m.s_id !== myId) ? '#ededed' : '#8f959e'}">
                {{ m.msg }}
              </span>
            <br>
          </div>
        </div>
        <div style="height: 50px"></div>
        <form (ngSubmit)="onSend(f)" #f="ngForm">
            <div class="w3-row formBox">
              <div class="w3-col m11">
                <input class="w3-input w3-border" type="text" id="mess" name="message" ngModel placeholder="Type your message here!" autocomplete="off" size="45">
              </div>
              <div class="w3-col m1">
                <button type="submit" class="w3-button w3-block w3-green">
                  Send
                </button>
              </div>
            </div>
        </form>
      </div>
      <div *ngIf="selectedFriend === -1">
        <div class="w3-center">
          <h3>Select a chat</h3>
        </div>
      </div>
    </div>
  </div>
</div>
</div>
