<app-navbar></app-navbar>
<div class="w3-col m4 listBox">
  <div class="friend-item w3-row">
    <div class="w3-col m3">
      <img src="https://semantic-ui.com/images/avatar/small/daniel.jpg" alt="user-img">
    </div>
    <div class="w3-col m12">
      <strong>utkarsh</strong>
      <div class="w3-right" style="padding-right: 1vw">14:00</div>
      <br>
      this is a message
      <div class="float-xs-right" style="padding-right: 1vw">
        <span class="badge badge-5">seen</span>
      </div>
    </div>
  </div>
</div>
<div class="w3-col m8 messageBox">
  <div class="row inputField">
    <div class="col-xs-12">
      <form>
        <!--<section class="form-block">-->
          <div class="w3-row formBox">
            <div class="w3-col m11">
              <input class="w3-input w3-border" type="text" id="mess" name="message" ngModel placeholder="Type your message here!" size="45">
            </div>
            <div class="w3-col m1">
              <button type="submit" class="btn btn-icon btn-primary">
                sen
              </button>
            </div>
          </div>
        <!--</section>-->
      </form>
    </div>
  </div>
</div>

