<app-navbar></app-navbar>
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <div class="w3-row">
    <div class="w3-col m2" style="color: white;">
      s
    </div>
    <div class="w3-col m8">
      <ul class="w3-ul w3-border">
        <li><h2>Notifications</h2></li>
        <span *ngIf="showMess">
          <li><h4>No notifications</h4></li>
        </span>
        <span *ngIf="!showMess">
          <li *ngFor="let n of notifications">
              <h4>{{ n.notification }}</h4>
          </li>
        </span>
      </ul>
    </div>
  </div>
</div>


