<app-navbar></app-navbar>
<div class="w3-container w3-content" style="max-width:1400px;margin-top:80px">
  <!-- The Grid -->
  <div class="w3-row">
    <!-- Left Column -->
    <div class="w3-col m2" style="color: white;">
      s
    </div>
    <div class="w3-col m8">
      <h3>Notifications</h3>
      <span>
        <h4>No notifications</h4>
      </span>
      <ul class="w3-ul w3-card-4">
        <li class="w3-bar">
          <img class="w3-bar-item w3-circle" style="width:85px">
          <div class="w3-bar-item">
            <span class="w3-large">Chintu</span><br>
            <span>Bunit</span>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>


