<div class="w3-card-4 w3-col m6 w3-display-middle">
  <div class="w3-container w3-blue-grey">
    <h2>Welcome</h2>
  </div>
  <form class="w3-container" (ngSubmit)="onSubmit(f)" #f="ngForm">
    <p>
      <label class="w3-text-brown"><b>Name</b></label>
      <input class="w3-input w3-border" name="name" type="text" ngModel></p>
    <p>
    <p>
      <label class="w3-text-brown"><b>Email</b></label>
      <input class="w3-input w3-border" name="email" type="email" ngModel></p>
    <p>
      <label class="w3-text-brown"><b>Username</b></label>
      <input class="w3-input w3-border" name="username" type="text" ngModel></p>
    <p>
      <label class="w3-text-brown"><b>Password</b></label>
      <input class="w3-input w3-border" name="password" type="password" ngModel></p>
    <p>
      <label class="w3-text-brown"><b>Short Info</b></label>
      <input class="w3-input w3-border" name="info" type="text" ngModel></p>
    <p>
      <label class="w3-text-brown"><b>Place</b></label>
      <input class="w3-input w3-border" name="place" type="text" ngModel></p>
    <p>
      <label class="w3-text-brown"><b>Birthday</b></label>
      <input class="w3-input w3-border" name="birthday" type="text" ngModel></p>
    <p>
      <span style="color: red" *ngIf="showError">Invalid input!<br><br></span>
      <button class="w3-btn w3-blue-grey" type="submit">Register</button></p>
  </form>
</div>
